header{
    background-image: url('/images/Banner\ Image.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 90px;
    
}

.banner{
    padding-top: 95px;
    text-align: center;
    color: white;

    position: absolute;
    top: 8px;
    left: 100px;
    width: 1320px;
    height: 505px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
#hny{
    font-size: 32px;
    font-weight: 400px;
}
#party{
    font-size: 72px;
    font-weight: 900px;
}

/* Bonus section */
#bonus_text{
    margin-top: 80px;
    text-align: center;
}
#off_text{
    font-size: 65px;
    font-weight: 700px;
    color: #F00000;
}
#holiday_text{
    color: #FF0000;
    font-weight: 500px;
}
#category_text{
    font-size: 48px;
    font-weight: 700px;
}
#image_container{
    height: 500px;
    width: 800px;
    margin-left: 300px;
}

/* ----Welcome party section----  */
#welcome_party{
    background-image: url('/images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 90px;

    display: flex;
    flex-direction: row;
    
    gap: 50px;

    color: #FFF;
    font-family: Merriweather;
}

#welcome_description{
    margin: 125px;
}
#welcome_image{
    margin: 70px 60px;
}
#party_para{
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
}
#join_btn{
    background: transparent;
    border: transparent;
    color: white;
    font-weight: 500;
}

/* .bg_overlay{
    position: absolute;
    top: -100%;
    left: 100px;
    width: 1320px;
    height: 505px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
} */