header{
    background-image: url('/images/Banner\ Image.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 90px;
    
}

.banner{
    padding-top: 95px;
    text-align: center;
    color: white;
}
#hny{
    font-size: 32px;
    font-weight: 400px;
}
#party{
    font-size: 72px;
    font-weight: 900px;
}

/* Bonus section */
#bonus_text{
    margin-top: 80px;
    text-align: center;
}
#off_text{
    font-size: 65px;
    font-weight: 700px;
    color: #F00000;
}
#holiday_text{
    color: #FF0000;
    font-weight: 500px;
}
#category_text{
    font-size: 48px;
    font-weight: 700px;
}
#image_container{
    height: 500px;
    width: 800px;
    margin-left: 300px;
}